body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    height: 30px;
    border: 1px solid green;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    display: block;
    margin-top: 5px;
    background-color: #5f9341;
    color: white;
    padding: 10 10 10 10px;
    border: none;
}


ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;

}

li {
        margin-top: 5px;

}

 a {
        color: #5f9341;
}